/*http://thomasf.github.io/solarized-css/*/
html {background-color: #002b36;color: #839496;margin: 1em;font-size: 1.2em;}

a {color: #b58900;}
a:visited {color: #cb4b16;}
a:hover {color: #cb4b16;}

table { border-width: 1px; border-color: #729ea5;border-collapse: collapse;}
th { background-color:#004949; border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
th:hover { cursor: pointer;}
th:after { content: attr(data-text); font-size: small}
td { border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}